body{
    background-color:#2C2F33 ;
}
.nav{
    background-color: #23272a;
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
}
.selected{
    color:#99aab5;
    font-size: large;
}
.unselected{
    color: #FFFF;
}
#video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
@keyframes cool {
    from {color:RGB(252 21 182);
    }
    to {color:RGB(21 236 252);
    }
}
#my-name{
      font-family: 'Road Rage', cursive;
      animation-name: cool;
      animation-duration: 2s;
      animation-iteration-count: infinite;
}