body{
    background-color:#2C2F33 ;
}
h1{
    color:#7289da;
}
.nav{
    background-color: #23272a;
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    font-size: large;
    font-family: 'Rubik', sans-serif;
}
.selected{
    color:#99aab5;
    font-size: large;
}
.unselected{
    color: #FFFF;
}
#video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
@keyframes cool {
    from {color:RGB(252 21 182);
    }
    to {color:RGB(21 236 252);
    }
}
#my-name{
      font-family: 'Road Rage', cursive;
      animation-name: cool;
      animation-duration: 2s;
      animation-iteration-count: infinite;
}
@media only screen and (max-width: 680px){
    .innerbox a{
        font-size: 30px;
    }
    .experience{
        flex-direction: column;
    }
    .circles{
        border-width: 50%;
        width: 100px;
        height: 100px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .nav{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        height: 200px;
        opacity: 0.6;
    }
}
.boxes{
    display:flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}
.innerbox{
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    font-family: 'Abril Fatface';
    font-size: 50px;
    transition: 0.3s;
    flex-grow: 1;
}
.innerbox a{
    color: black;
}
.innerbox:hover{
    color:black;
    background-color: white;
}
#about-me{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
#about-me-text{
    color:white;
    font-size: 25px;
    padding-left: 20px;
}
.experience{
    display: flex;
    justify-content: space-evenly;
    padding-top:20px;
}
.circles{
    border-radius:50%;
    width: 300px;
    height: 300px;
}
#primenow{
    color:white;
    font-size: 25px;
    padding-top: 100px;
    padding-bottom: 100px;
}
#panasonic{
    color:white;
    font-size: 25px;
    padding-top: 100px;
    padding-bottom: 100px;
}
#NS{
    color:white;
    font-size: 25px;
    padding-top: 100px;
    padding-bottom: 100px;
}
#primenow p{
    display: flex;
}
#panasonic p{
    display:flex;
}
#NS p{
    display:flex;
}
#skills{
    display:flex;
    flex-wrap: wrap;
}
#skills-text{
    float:left;
    width: 85%;
    font-size: 25px;
    color:white;
}
#projects{
    float: right;
    width:15%;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: Red;
}
#DP{
    width: 100px;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
    font-family: 'Gwendolyn', cursive;
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #7289da;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  #contact {
    border-radius: 5px;
    background-color:#99aab5;
    padding: 20px;
    margin-top: 20px;
    font-family: 'Rubik', sans-serif;
  }
  #completed{
      display:flex;
      justify-content: center;
      align-items: center;
      height:100px;
      font-size: 60px;
  }
  #return{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 60px;
  }